.About {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.section {
    width: 100%;
    padding: 20px;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 1s ease;
    opacity: 0; /* Initially hidden */
}

.light-bg {
    background-color: #ffffff;
    color: #010120;
}

.dark-bg {
    background-color: #010120;
    color: #ffffff;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.section-content {
    font-size: 1rem;
    white-space: pre-line; /* Preserves line breaks */
    padding: 10px;
}

/* Landscape Orientation Styling */
@media screen and (orientation: landscape) {
    .section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section-title {
        width: 40%; /* Title takes up 40% of the width */
        margin-bottom: 0;
        padding-right: 20px;
    }

    .section-content {
        width: 60%; /* Content takes up 60% of the width */
    }
}

/* Fade-in effect when scrolled to */
.section.visible {
    opacity: 1;
}

.section-title.visible {
    opacity: 1;
    transition-delay: 1s; /* Adds the fade-in delay of 3 seconds */
}
.section-content.visible {
    opacity: 1;
    transition-delay: 2s; /* Adds the fade-in delay of 3 seconds */
}