.App-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    width: 100vw; /* Full screen width */
    transition: background-image 2s ease-in-out; /* Smooth fade */
}

    .App-content.initial-bg {
        background-color: white; /* Initial white background */
        background-size: cover;
        background-position: center;
        animation: fade-in 4s ease-in-out;
    }

    .App-content.final-bg {
        background-color: #010120;
        background-size: cover;
        background-position: center;
        animation: fade-in 4s ease-in-out;
    }

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    max-width: 1200px;
}

.text-container {
    margin-top: 20px;
    text-align: center;
}

.cta-heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px black, -2px -2px 6px black;
    color: white;
}

.cta-subtext {
    font-size: 1.2rem;
    margin-top: 10px;
    text-shadow: 2px 2px 6px black, -2px -2px 6px black;
    color: white;
}

/* Animation for text and logo */
.animate-logo {
    transform: translateX(-100%);
    animation: slide-in-logo 1s forwards;
}

.animate-text {
    transform: translateX(100%);
    animation: slide-in-text 1.5s forwards;
}

@keyframes slide-in-logo {
    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-text {
    to {
        transform: translateX(0);
    }
}

/* Responsive styles */
@media screen and (orientation: landscape) {
    .App-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .App-logo {
        margin-right: 20px;
    }

    .text-container {
        text-align: left;
        max-width: 60%;
    }
}

@media screen and (orientation: portrait) {
    .App-content {
        flex-direction: column;
        text-align: center;
    }

    .App-logo {
        margin-bottom: 20px;
    }

    .text-container {
        text-align: center;
    }
}
