.App {
  text-align: center;
}

.App-content {
  background-color: #FFFFFF;
  min-height: 100vh;
  flex: 1;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-footer {
    background-color: #010120;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: central;
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
